.contenedorppal {
  padding: 20px;
}

label {
  width: 100px;
}

button {
  background: rgb(124, 124, 230);
  width: 96%;
}

.sectioncomments > div {
    padding-left: 30px; 
}

div > input {
  width: 70%;
}